.wp-core-ui .button-danger {
    padding: 5px;
    color: white;
    background-color: #a00;
    border: 0;
    cursor: pointer;

    &:hover, &:focus, &:active {
        background-color: red;
        color: white;
    }
}

.wp-core-ui .button-add {
    padding: 5px;
    border: 0;
    background-color: #0085ba;
    color: white;
    cursor: pointer;

    &:hover {
        background-color: #008ec2;
        color: white;
    }
}

.btn-add-image {
    cursor: pointer;
}

.close {
    display: inline-block;
    text-align: center;
    margin-left: -17px;
    margin-top: -5px;
    background: #fff;
    font-size: 20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    line-height: 20px;
    cursor: pointer;
}

.text-red {
    color: #a00;

    &:hover {
        color: red;
    }
}
