.form-group {
    margin: 15px 0;
    display: block;

    &:before, &:after {
        display: table;
        content: " ";
    }

    &:after {
        clear: both;
    }

    .form-inline {
        display: inline;
    }

    .label-input {
        font-weight: bold;
        margin-right: 20px;
        padding-top: 5px;

        &.label-inline {
            display: inline-block;
        }

        &.label-block {
            display: block;
        }
    }

    .label {
        font-weight: bold;
        float: left;
        width: 20%;

        & + .input {
            width: 80%;
        }
    }

    .input {
        box-sizing: border-box;
        float: right;
        width: 100%;
        padding-left: 10px;

        input:not([type="radio"]):not([type="checkbox"]), textarea, select {
            width: 80%;
        }

        .file_mulitple {
            &:first-child {
                display: inline;
            }

            input {
                width: 60%!important;
            }
        }

        a {
            display: inline-block;
        }
    }
}

.form-block {
    .label,
    .input {
        float: none;
    }

    .label + .input {
        width: 100%;
    }

    .input {
        padding-left: 0;
    }
}
