.galeries {
    border: 2px solid darkgrey;
    padding: 10px;
    .sortable {
        margin-bottom: 50px;
        .ui-state-default {
            display: inline-block;
            padding: 0 10px;
        }
    }
    .dashicons {
        cursor: pointer;
    }
}
