// VENDORS
@import '~select2/dist/css/select2.css';
@import '~pickadate/lib/themes/classic.css';
@import '~pickadate/lib/themes/classic.date.css';
@import '~pickadate/lib/themes/classic.time.css';

// COMPONENTS
@import 'buttons';
@import 'gallery';
@import 'form';

.hide {
    display: none !important;
}

.aycpt-showfilemulti {
	text-decoration: none;
}
